@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


/* main 컨텐츠  */
.main {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 75vh;
}

.main .info_table {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative ;
  width: 550px;
  height: 250px;
  background-color: #f1efef;
  border-radius: 10px 10px 10px 10px;
  padding: 50px;
  border: 15px solid #7D7C7C;
  
}

.back_button{
	position: absolute;
	bottom: 0px;
}


/* 푸터 */

footer {
  position: absolute;
  color: black;
  background-color: #ffffff;
  bottom: 0;
  width: 100%;
  height: 15%;
}

footer h2 {
  margin-left: 10%;
  margin-top: 10px;
}

footer p {
  margin-left: 10%;
}
/* 푸터 종료 */

/* 반응형 , 창이 작아지면 아래의 내용  */
@media screen and (max-width: 768px) {

  /* 푸터 */
  footer {
    font-size: 15px;
  }
}
