@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


/* main 컨텐츠  */
.main {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 75vh;
}

.main .login {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  width: 400px;
  height: 550px;
  background-color: #f1efef;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
}

.login input,
button {
  width: auto;
  height: 50px;
  margin: 8px 0px;
}

.radio_check {
  background: #1b88e0;
  color: #fff;
}

/* 푸터 */

footer {
  position: absolute;
  color: black;
  background-color: #ffffff;
  bottom: 0;
  width: 100%;
  height: 15%;
}

footer h2 {
  margin-left: 10%;
  margin-top: 10px;
}

footer p {
  margin-left: 10%;
}
/* 푸터 종료 */

/* 반응형 , 창이 작아지면 아래의 내용  */
@media screen and (max-width: 768px) {

  /* 푸터 */
  footer {
    font-size: 15px;
  }
}
